nav {
    background-color: #333;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }

  nav li a {
    transition: 0.3s;
  }

  header {
    margin-top: 100px;
    margin-bottom: 100px;

  }
  div p {
    margin-left: 50px;
    margin-right: 50px;
  }
  div h2{
    background-color: indigo;
    color :aliceblue;
    margin-top: 20px;
    margin-bottom : 20px;

  }
  table, th, td {
    border: 1px solid brown;
    color :chartreuse;
    background-color:black;
    padding-left: 50px;
    padding-right: 50px;
}
